html,body,.swiper-container{width: 100%;height: 100%;}
.swiper-slide{background-repeat: no-repeat;background-position:51% 44%;background-size: cover;}
.container-md{width: 1040px;height: 100%;padding: 0 20px;margin: auto;}
.wrap{width: 100%;height: 100%;}
.wrap .header,.wrap .title,.wrap ,.news{z-index: 9;position: absolute;left: 0;width: 100%;}

/*header*/
.wrap .header{top: 0;height: 80px;}
.header-nav{height: 100%;padding: 15px 0;box-sizing: border-box;text-align: center;}
.logo-links{float: left;margin-top: 5px;margin-left: -8px;}
.header-nav li{float:right;}
.header-nav li a{;color: #fff;font-weight: 400;font-size: 16px;padding: 8px 20px;line-height: 50px;}



.wrap .title{top:50%;height: 146px;margin-top: -73px}
.wrap .title h1{font-size: 67px;margin-bottom: 20px;}
.wrap .title a{font-size: 22px;font-weight: bold;padding: 14px 26px;letter-spacing: .1em;border-radius: 6px;box-shadow: rgba(59, 54, 48, 0.6) 0 6px 30px 0;opacity: 1;color: white;background:rgba(0,0,0,.6);}




.wrap .news{bottom: 0;height: 42px;background: rgba(59, 54, 48, 0.4) none repeat scroll 0 0;line-height: 42px;padding: 10px;box-sizing: border-box;}
.wrap .news .news-inco,.news-text{float: left;color: white;font-size: 16px;}
.wrap .news .news-inco{height: 18px;}
.news-inco span{background-color: #ef3a3b;border-radius: 4px;width: 52px;line-height: 22px;display: block;text-align: center;}
.wrap .news .news-text{line-height: 22px;}
.wrap{position: relative;}

.hero-promos{width: 100%;height: 260px;box-sizing: border-box;border-top: 1px solid white;}
.promos{background-repeat: no-repeat;background-position:   center;background-size: cover;height: 260px;width: 25%;float: left;border-right: 1px solid white;box-sizing: border-box;padding: 37px;text-align: center;}
.promos h3{font-size: 24px;font-weight: 400;color: white;}

.relative{width: 100%;height: 142px;border-bottom: 1px solid #b1b1b1;}
.meta-link{width: 33.33%;height: 50px;margin: 45px 0;float: left;display:flex;}
.relative-pic{width: 50px;height: 50px;background-repeat:  no-repeat ;background-position: center;background-size: contain;float: left;margin-right: 10px; }
.relative-right{float: left;}
.meta-link h4{font-weight: 400;font-size: 16px;line-height: 1.4;}
.meta-link p{font-weight: 300;font-size: 16px;color: #000;line-height: 1.4;}
.meta-link:nth-child(2){justify-content: center;}

.meta-link:nth-child(3){justify-content: flex-end;}

.footer{width: 100%;display: inline-block;border-bottom: 1px solid #b1b1b1; }
.footer-left{width: 35%;height:157px;padding:45px 0; margin-right: 33px;float: left;}
.footer-logo{background-repeat: no-repeat;display: block;width: 160px;background-size: contain;margin-bottom: 15px;height: 30px;}
.footer-left li{line-height: 2.3;font-size: 16px;font-weight: 500;}
.footer-right{float:left;padding: 45px 0;height:100%;}
.footer-right dl{float: left;}
.footer-right dl:nth-child(2){margin-left: 8vw;}
.footer-right dl:nth-child(3){margin-left: 8vw;}
.footer-right dl:nth-child(4){margin-left: 8vw;}

.footer-right dt{font-weight: bold;margin-bottom: 10px;font-size: 17.5px;}
.footer-right dd{line-height: 30px;font-size: 15px;}
.footer-right dd a{color: #000;}
/* footer-copy */
.footer-copy{height: 58px;padding:45px 0;}
.copyright ul{margin-right: 40px;float: left;}
.copyright li{font-size: 12px;margin-top: 4px;color: #aaa;line-height: 27.6px;}
.copyright .beian-icon{display: inline-block;width: 15px;height: 15px;vertical-align: -3px;background-repeat: no-repeat;  background-size: contain;}

.copyright img{float: right;    }








@media screen and (max-width: 1080px) {
    .container-md{width: 100%;box-sizing: border-box;}
    .promos{width: 50%;}
    .header-nav ul{display: none;}
}
/* phone  640*/
@media screen and (max-width: 640px) {
    .promos{width: 100%;}
    .meta-link{width: 100%;display: inline;}
    .meta-link:nth-child(2){justify-content: baseline;}
    .meta-link:nth-child(3){justify-content: baseline;}
    .header-nav ul{display: none;}
    .footer-left{width: 100%;}
    .footer-right dl{width: 50%;}
    .footer-right dl:nth-child(2){margin-left: 0;}
    .footer-right dl:nth-child(3){margin-left: 0;}
    .footer-right dl:nth-child(4){margin-left: 0;}
    .copyright img{float: none;}
}
